h4{
    color:rgb(21, 66, 95);
    font-size: 50px;
}
span{
    color: deepskyblue;
}

div{
    text-align:center;
}
h3{
    color:white;
    font-size: 40px;
}
p{

    font-size: 20px;

}
h2{
    font-size: 30px;
    color: darkblue;
}
h1{
    font-size: 20px;
}
h5{
    font-size: 32px;
    color: white;
}
