<section class=" px-4 px-sm-3 px-md-5 px-lg-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="position: relative;">
                <img class="d-block w-100" src="https://dacxi.com/storage/imgs/hh3.png" alt="First slide">
                <div class="caroImage1Text"
                    style="text-align: left;  position: absolute; top: 30%; right:800px; padding-left: 120px;">
                    <h3 style="font-size:68px; color: rgb(255, 255, 255); padding-right: 100px; ">Discover your path to
                        prosperity</h3>
                    <p style="font-size: 50px; color: white; padding-bottom: 50px">Buy, sell, store, learn, and build
                        your crypto wealth with
                        Dacxi.</p>
                    <div class="linkmove" style="position:relative;">
                        <button type="button" style="border-radius:45px; background-color: rgb(34, 124, 241); font-size: 20px; padding-bottom: 10px; padding-left: 30px;
                            padding-right: 30px;  position:absolute; top: 30%; right:500px;" class="btn btn-dark"
                            onclick="location.href='https://google.com'">
                            <a style="padding-top: 150px;">TRY IT NOW</a>
                        </button></div>
                </div>
            </div>

            <div class="carousel-item " style="position: relative;">
                <img class="d-block w-100" src="https://dacxi.com/storage/imgs/hh2.png" alt="Second slide">
                <div class="caroImage1Text"
                    style="text-align: left;  position: absolute; top: 30%; right:800px; padding-left: 120px;">
                    <h3 style="font-size:68px; color: rgb(3, 50, 104); padding-right: 100px;">Discover your path to
                        prosperity</h3>
                    <p style="font-size: 50px; color: black;">Buy, sell, store, learn, and build your crypto wealth with
                        Dacxi.</p>
                    <div class="linkmove" style="position:relative;">
                        <button type="button" style="border-radius:45px; background-color: rgb(34, 124, 241); font-size: 20px; padding-bottom: 10px; padding-left: 30px;
                            padding-right: 30px;  position:absolute; top: 30%; right:500px;" class="btn btn-dark"
                            onclick="location.href='https://google.com'">
                            <a style="padding-top: 150px;">TRY IT NOW</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="carousel-item " style="position: relative;">
                <img class="d-block w-100" src="https://dacxi.com/storage/imgs/hh1.png" alt="Third slide">
                <div class="caroImage1Text"
                    style="text-align: left;  position: absolute; top: 30%; right:800px; padding-left: 120px;">
                    <h3 style="font-size:68px; color: white; padding-right: 100px;">Discover your path to
                        prosperity</h3>
                    <p style="font-size: 50px; color: white;">Buy, sell, store, learn, and build your crypto wealth with
                        Dacxi.</p>
                    <div class="linkmove" style="position:relative;">
                        <button type="button" style="border-radius:45px; background-color: rgb(34, 124, 241); font-size: 20px; padding-bottom: 10px; padding-left: 30px;
                                padding-right: 30px;  position:absolute; top: 30%; right:500px;" class="btn btn-dark"
                            onclick="location.href='https://google.com'">
                            <a style="padding-top: 150px;">TRY IT NOW</a>
                        </button></div>
                </div>
            </div>
        </div>
    </div>

</section>

<section style="height: 550px; background: rgb(116, 238, 201); overflow-y: hidden;">
    <div class="row pt-5">
        <!-- 左空白 -->
        <div class="col-0 col-md-1"></div>
        <!-- 中间 -->
        <div class="col-12 col-md-10">
            <div class="row">
                <div class="col-5" style="height:500px;">
                    <img style="max-width: 350px;" src="https://dacxi.com/storage/imgs/mobile.png">
                    <!-- <div style="position: absolute; z-index: 1; 
                    text-align: center;">
                        <h2>qweqeqwqweqewqe</h2>

                    </div> -->
                </div>
                <div class="col-7"
                    style="text-align: left; padding-right: 200px; margin-top: 50px; margin-bottom: 50px;">
                    <h4>Why choose Dacxi?</h4>
                    <h1><strong>Dacxi is more than a crypto exchange. It’s a Crypto Wealth Platform.</strong></h1>
                    <br><br>
                    <h1>Dacxi is your front-row seat to the future of wealth creation.
                        A single-stop platform designed to help everyday people prosper with crypto, supported by a
                        dedicated
                        team who’s with you all the way.</h1>
                    <br><br>
                    <h1><strong>So you can invest with confidence, and find your path to prosperity and freedom through
                            crypto.</strong></h1>
                    <br>

                    <div class="linkmove" style="position:relative;">
                        <button type="button" style="border-radius:45px; background-color: rgb(5, 41, 88); font-size: 20px; padding-bottom: 10px; padding-left: 30px;
                                    padding-right: 30px;  position:absolute; top: 30%; right:450px;"
                            class="btn btn-dark" onclick="location.href='https://google.com'">
                            <a style="padding-top: 150px;">Learn More</a>
                        </button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 右空白 -->
    <div class="col-0 col-md-1"></div>
</section>


<section class="container">
    <div style="text-align: center; padding-top: 17mm;">
        <h4>Choose the right Dacxi bundle <span>for you</span></h4>
        <br><br><br>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
            <div style="background: #244e78;  
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px; 
            text-align: center;padding:20mm;">
                <div style="min-height:320px; font-size: 32px; color:white;">
                    <h5>Blue Chip Bundle</h5>
                    <br><br><br><br><br><br>
                    <p>The smart, simple, and secure way to buy the world’s biggest crypto-currencies. Grow a diverse
                        portfolio, and watch your wealth grow with it.</p>

                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-12 col-12">
            <div style="background: #244e78;  
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px; 
            text-align: center;padding:20mm;">
                <div style="min-height:320px; font-size: 32px;
                color: white;">
                    <h5>Precious Metals Bundle</h5>
                    <br><br><br><br><br><br>
                    <p>Go for gold, silver, and platinum, with Dacxi’s Precious Metals Bundle. Start building a
                        portfolio of high-performing,
                        low-risk digital Precious Metal tokens.</p>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-12">
            <div style="background: #244e78;  
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px; 
            text-align: center;padding:20mm;">
                <div style="min-height:320px;font-size: 32px;
                color: white;">
                    <h5>DAC Pack</h5>
                    <br><br><br><br><br><br>
                    <p>Buy a bundle of 100% DAC Coins; the currency for the global Dacxi economy.
                        A limited time offer with huge prosperity potential, this bundle is one of Dacxi’s most popular.
                    </p>

                </div>
            </div>
        </div>
    </div>

</section>


<section style="background:#d5f4fd; margin-top: 50px;">
    <div style="text-align: center;padding-top: 30px;padding-right:auto;padding-bottom: 50px; padding-left: auto;">
        <h4>Buy crypto-currencies with Dacxi in just <span>3 easy steps</span></h4>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
            <div style="padding-left: 30mm;">
                <img style="width:25%" src="https://dacxi.com/storage/imgs/step1.png">
                <div style="text-align: center;">
                    <h2>Choose</h2>

                    <h1>Explore the assets and Dacxi Bundles on offer, and pick which you’d like to buy.</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
            <div style="padding: 0px;">
                <img style="width:20%" src="https://dacxi.com/storage/imgs/step2.png">
                <div style="text-align:center;">
                    <h2>Buy</h2>

                    <h1>Get started with as little as $100, and deposit funds in your preferred currency in minutes.
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
            <div style="padding-right: 30mm; margin-bottom: 50px;">
                <img style="width:25%" src="https://dacxi.com/storage/imgs/step3.png">
                <div style="text-align: center;">

                    <h2>Prosper</h2>

                    <h1>Sit back and watch your portfolio grow, knowing you can withdraw or top up your account any
                        time.
                    </h1>

                </div>
            </div>
        </div>
    </div>


</section>


<section style="background: rgb(116, 238, 201);">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <div style="text-align:left; padding-left: 250px; margin-top: 120px; margin-bottom: 50px;">
                <h4>Every great journey <br>needs <span>a great guild</span></h4>
                <br>
                <div style=" text-align: left; padding-left: 0px; padding-right: 80px; padding-bottom: 50px;">
                    <p>That’s why Dacxi gives you all the tools, resources, and support you need to go forth and prosper
                        with
                        unstoppable confidence. <span>We also provide...</span></p>
                    <br>

                    <div class="linkmove" style="position:relative;">
                        <button type="button" style="border-radius:45px; background-color: rgb(4, 46, 100); font-size: 20px; padding-bottom: 10px; padding-left: 30px;
                        padding-right: 30px;  position:absolute; top: 30%; right:340px;" class="btn btn-dark"
                            onclick="location.href='https://google.com'">
                            <a style="padding-top: 150px;">Learn More</a>
                        </button></div>
                </div>
            </div>

            <!-- <div class="col-lg-6 col-md-12 col-12">
                <div style="position: relative; left: 950px; bottom:130px;">
                    <img style="width:100%;" src="https://dacxi.com/storage/imgs/discover1.png">
                </div>
            </div> -->
        </div>
        <section class=" col-lg-5 col-md-12 col-12" style="margin-top: 60px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="position: relative;">
                        <img class="d-block w-100" src="https://dacxi.com/storage/imgs/discover1.png" alt="First slide">
                     
                    </div>

                    <div class="carousel-item " style="position: relative;">
                        <img class="d-block w-100" src="https://dacxi.com/storage/imgs/discover3.png" alt="Second slide">
                        
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </section>
    </div>


</section>

<div style="background:rgb(241, 240, 240);">
    <div class="col-lg-12">
        <br><br>
    </div>
</div>
<br><br>




<section class="containerVideo">
    <div style="text-align: center; margin-bottom: 50px;">
        <h4>Here’s what our <span>happy customers</span> have to say</h4>
    </div>
    <div class="row">
        <div class="col-lg-4" style="margin:0px; border:0px; padding:0px;">

            <div
                style="background-image:url('https://dacxi.com/storage/imgs/hpct1.png');background-size: 100%;height:100%">
                <p style="text-align: center; padding-top: 130px; color:white; font-size: 30px;"> "It's a really simple platform to use"</p>
            </div>
        </div>



        <div class="col-lg-4" style="margin:0px; border:0px; padding:0px;">
            <div
                style="background-image:url('https://dacxi.com/storage/imgs/hpct2.png');background-size: 100%;height:100%">
                <p style="text-align: center; padding-top: 130px; color:white; font-size: 30px;"> "I like the security they offer me!"</p>
            </div>
        </div>

        <div class="col-lg-4" style="margin:0px; border:0px; padding:0px;">
            <div
                style="background-image:url('https://dacxi.com/storage/imgs/hpct3.png');background-size: 100%;height:100%">
                <p style="text-align: center; padding-top: 130px; padding-bottom:130px; color:white; font-size: 30px;"> "It's a really simple platform to use"</p>
            </div>
        </div>
    </div>

</section>

<section class="container" style="max-width: 1340px; margin-top: 50px;">
    <div style="text-align: center;">
        <h4>Dacxi is the <span>safe and secure</span> way to buy crypto</h4>
    </div>
    <div class="row">
        <br><br>
        <div class="col-lg-4 col-md-12 col-12">
            <div
                style="padding-bottom:170%; width:100%; background-repeat:no-repeat;   
             background-size:160%; background-position:center; background-image:url('https://dacxi.com/storage/imgs/Homepgphone1.png')">
            </div>
            <!-- 等比例放大 -->
        </div>
        <div class="col-lg-4 col-md-12 col-12">
            <div
                style="padding-bottom:170%; width:100%; background-repeat:no-repeat;
            background-size:160%; background-position:center; background-image: url('https://dacxi.com/storage/imgs/Homepgphone2.png')">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
            <div
                style="padding-bottom:170%; width:100%; background-repeat:no-repeat;
            background-size:160%; background-position:center; background-image:url('https://dacxi.com/storage/imgs/Homepgphone3.png')">
            </div>
        </div>
    </div>
</section>
<br><br>


<section style="height:550px; background: rgb(9,92,131);
background: linear-gradient(90deg, rgba(9,92,131,1) 34%, rgba(9,149,224,1) 100%);">
    <div class="row">
        <div class="col-12; col-lg-5 col-md-5 "
            style="height:500px; margin-top: 50px; overflow-y: hidden; padding-left: 250px;">
            <img style=" max-width: 400px; " src="https://dacxi.com/storage/imgs/homearticle1.png">
        </div>
        <div class="col-12 col-lg-5 col-md-6 "
            style="text-align: left; color:white; padding-top:20px ;padding-left: 50px; padding-right: auto; padding-bottom: 30px; margin-top: 50px; ">
            <h3>We are famous,</h3>
            <p style="font-size: 35px; color:rgb(32, 128, 238)"><span>Dacxi in the press</span></p>
            <p style="font-size: 24px;">The world is taking rapid strides towards a crypto economy.
                But when it comes to gaining crypto confidence, everyday people are missing the education, support, and
                human touch they need. That’s where Dacxi comes in.</p>

            <p style="font-size: 23px;">DWe’re changing the crypto game, and the world is sitting up and taking notice.
            </p>
            <div class="linkmove" style="position:relative;">
                <button type="button" style="border-radius:45px; background-color: rgb(2, 243, 211); font-size: 20px; padding-bottom: 10px; padding-left: 30px; color:rgb(16, 16, 145);
                    padding-right: 30px;  position:absolute; top: 30%; right:380px;" class="btn btn-dark"
                    onclick="location.href='https://google.com'">
                    <a style="padding-top: 150px;">&nbsp; &nbsp; SEE LATEST PRESS &nbsp; &nbsp;</a>
                </button></div>
        </div>
    </div>
</section>



<section style="background: rgb(9,92,131);
background: linear-gradient(90deg, rgba(9,92,131,1) 34%, rgba(9,149,224,1) 100%); padding-left: 200px;">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-2">
            <div style="padding-left: 30px; text-align:left; color:white">
                <br><br>
                <h3 class="linkTitle" style="font-size: 18px;text-align:left">WHAT WE DO
                </h3><br>
                <a href="https://google.com" class="linktext" style="font-size:17px; color:white; text-align:left">Why
                    Dacxi</a><br>
                <a href="https://google.com" class="linktext"
                    style="font-size:17px; color:white; text-align:left">Learn</a><br>
                <a href="https://google.com" class="linktext"
                    style="font-size:17px; color:white; text-align:left">Events</a><br>
                <a href="https://google.com" class="linktext"
                    style="font-size:17px; color:white; text-align:left">Customer Stories</a><br>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <div style="padding-left: 20px; text-align:left; color:white">
                <br><br>
                <h3 class="linkTitle" style="font-size:18px; text-align:left ">BUY
                </h3><br>
                <a href="https://google.com" class="linktext" style="font-size:17px; color:white;">Dacxi Bundle</a><br>
                <a href="https://google.com" class="linktext" style="font-size:17px; color:white;">Dacxi
                    (DAC)Pack</a><br>
                <a href="https://google.com" class="linktext" style="font-size:17px; color:white;">Dacxi Precious
                    Metals</a><br>
                <a href="https://google.com" class="linktext"
                    style="font-size:17px; text-align:left; color:white">Bundle</a><br>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <div style="padding-left: 20px; text-align:left; color:white">
                <br><br>
                <h3 class="linkTitle" style="font-size:18px; text-align:left">ABOUT US
                </h3><br>
                <a href="https://google.com" class="linktext" style="font-size:17px;  color:white">Who We Are</a><br>
                <a href="https://google.com" class="linktext" style="font-size:17px;  color:white">Media Room</a><br>
                <a href="https://google.com" class="linktext" style="font-size:17px;  color:white">Blog</a><br>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <div style="padding-left: 20px; text-align:left; color:white">
                <br><br>
                <h3 class="linkTitle" style="font-size: 18px; text-align:left">HELP
                </h3><br>
                <a href="https://google.com" class="linktext" style="font-size:17px; color:white">FAQs</a><br>
                <a href="https://google.com" class="linktext" style="font-size:17px; color:white">Contact</a><br>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-2">
            <div style="text-align: left; color:white; margin-top: 20px;">
                <br>
                <h3 class="linkTitle" style="font-size: 18px;">FOLLOW US
                </h3>
                <img style="width: 30px;padding-top:3px;padding-right: 8px; padding-bottom: auto; padding-left: auto;"
                    src="https://dacxi.com/storage/icons/icon-linkedin.png">
                <img style="width: 30px;padding-top:3px;padding-right: 8px;"
                    src="https://dacxi.com/storage/icons/icon-youtube.png">
                <img style="width: 30px;padding-top:3px;padding-right: 8px;padding-bottom: auto; padding-left: auto;"
                    src="https://dacxi.com/storage/icons/icon-twitter.png">
                <img style="width: 18px;padding-top:3px;padding-right: 8px;padding-bottom: auto; padding-left: auto;"
                    src="https://dacxi.com/storage/icons/icon-facebook.png">
                <img style="width: 30px;padding-top:3px;padding-right: 8px;padding-bottom: auto; padding-left: auto;"
                    src="https://dacxi.com/storage/icons/icon-medium.png">
                <img style="width: 30px;padding-top:3px;padding-right: 8px;padding-bottom: auto; padding-left: auto;"
                    src="https://dacxi.com/storage/icons/icon-instagram.png">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-2" style="margin-top: 30px;">
            <img style="width: 50%; margin-bottom: 40px;" src="https://dacxi.com/storage/imgs/logo1.png">
        </div>

        <p style="color: white; font-size: 15px; margin-top: 38px;">Dacxi Exchange © 2018 — All Rights Reserved.
            &nbsp; &nbsp;
            <a href="//http:google.com" class="linktext" style="color: white; font-size: 15px;"> Help</a>|
            <a href="//http:google.com" class="linktext" style="color: white; font-size: 15px;"> Privacy Policy</a>|
            <a href="//http:google.com" class="linktext" style="color: white; font-size: 15px;"> Terms of Use</a>|
            <a href="//http:google.com" class="linktext" style="color: white; font-size: 15px;"> Cookie Policy</a>
        </p>

    </div>

</section>